<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">News Scraper</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/articles">Saved Articles</a>
                </li>
                <li>
                    <a href="/scrape">
                        <button class="btn btn-primary">
                            Scrape new articles!
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/clear">
                        <button class="btn btn-primary ml-2">
                            Clear articles!
                        </button>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    {{#each article}}
    <div class="card m-3">
        <div class="card-header">
            <h3>
                <a href="{{link}}">
                    {{title}}
                </a>

            </h3>
            <a class="btn btn-secondary" data-id="{{id}}">
                Save Article
            </a>
        </div>
        <div class="card-body">
            <p>
                {{summary}}
            </p>
        </div>
    </div>
    {{/each}}

</div>